<!DOCTYPE html>
<html>
<head>
<title>GNY Admin Panel</title>

<style>
body{
    margin:0;
    font-family:Arial;
    background:#f4f7fc;
}

/* NAVBAR */
.navbar{
    background:#1F4EAA;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

.nav-links a{
    color:white;
    margin-right:20px;
    text-decoration:none;
    font-weight:600;
}

.nav-links a:hover{
    text-decoration:underline;
}

.container{
    padding:20px;
}
</style>

</head>

<body>

<div class="navbar">

    <div><b>GNY Admin Panel</b></div>

    <div class="nav-links">
        <a href="/admin/home">Home</a>
        <a href="/admin/applications">Manage Application</a>
        <a href="/admin/invoice">Invoice</a>
        <a href="/logout">Logout</a>
    </div>

</div>

<div class="container">

    {% block content %}{% endblock %}

</div>

</body>
</html>